



<div class="card-image">
    <img [src]="picture?.source" (click)="lookThePicture()" alt="post picture" [className]="pictureClass" [style]="pictureStyle">
</div>

<div (click)="closeThePicture()" class="col center btn-floating waves-effect" *ngIf="voir"
     style="height: 100%; width: 100%; background-color: rgba(200, 200, 200, 0.8);
      position: absolute; border-radius: 0; top: 0; left: 0; right: 0; padding: 12% 12% ">
    <img [src]="picture?.source" class="center" alt="post picture" style="height: 100%; width: 100%">
</div>
