
<div class="row ">


    <div class="col s4 m4 pull-s4 " style="height: 500px; overflow: auto;" >
<!--        <h3 class="center">Albums</h3>-->
    <div class="row s5 m5 white" *ngFor="let album of albums">
        <div class="card" (click)="goToAlbumSpace(album.id)">
            <div class="card-image">
                <img [src]="album.picture.source" [alt]="album.title">
                <span class="card-title">{{album.title}}</span>
            </div>
            <div class="card-content">
                <p>
                    {{album.description}}
                </p>
            </div>
            <div class="card-action">
                <a href="#" (click)="affiche()">{{album.user.firstname+" "+album.user.lastname}}</a>
                <br>
                <small>
                    last modification: {{album.updatedAt| date:"dd/mm/yy-h/m/s"}}
                </small>
            </div>
        </div>

    </div>
    <a class="btn-floating btn-large  waves-effect waves-light teal"
       style="bottom: 25px; position: fixed">
        <i class="material-icons">add</i>
    </a>

</div>

    <div class="row s7 m7 pull-s5" style="" >
<!--    <h3 class="center">List of posts</h3>-->
<!--    <div class="row" id="post-list" >-->
        <app-list-posts  [albumId]="curentAlbumId" *ngIf="curentAlbumId !== -2">
        </app-list-posts>
<!--    </div>-->

</div>
</div>