<div class="row">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3" *ngFor="let oneUser of users">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <!--<img src="" alt="" class="circle responsive-img">-->
                        <app-picture [pictureId]="oneUser.id_picture"  [pictureClass]="'circle responsive-img'"></app-picture>
                        <!-- notice the "circle" class --> </div>
                    <div class="col s10"><span class="black-text"> {{oneUser.firstname +" "+ oneUser.lastname}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>