

<nav style="margin-bottom: 50px">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo left">Talk about</a>
        <form action="" class="right">
            <div class="input-field right">
                <input (keypress)="doChange()" type="search" required id="search">
                <label for="search" class="label-icon"><i class="material-icon">search</i></label>
                <i class="material-icon">close</i>
            </div>
        </form>
        <div class="nav-content center">
            <ul class="tabs tabs transparent">
                <li class="tab"><a class="active" id="home-link" (click)="goHome()">Home</a></li>
                <li class="tab"><a class="active" (click)="goToFriend()">Friends</a></li>
                <li class="tab"><a class="active">Groups</a></li>
                <li class="tab"><a  class="active">Account</a></li>
            </ul>
        </div>
    </div>


</nav>



<!--<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">component</a></li>
    <li><a href="colapsible.html">Javascript</a></li>
    <li><a href="mobile.html"></a>Mobile</li>
</ul>-->

<router-outlet></router-outlet>

